@import url('../blocks/page/page.css');
@import url('../blocks/button/button.css');

.page {

}

.top-nav {
  background: #009688;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  left: 0;
  opacity: 0.95;
  padding: 8px;
  right: 0;
  top: 0;
  z-index: 9999;
  margin: 0 auto
}

.topnav-wrapper {
  margin: 0 auto;
  max-width: 980px
}

.topnav-link {
  float: right
}

.top-nav a {
  text-decoration: none;
  color: #d9d9d9
}

.top-nav a:hover {
  color: #82eaae
}

header {
  padding: 7vh 10vw;
  color: #676767;
  text-align: center
}

.container {
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;

}

.container-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/futures__pic.png');
}

.info {
  margin: 50px auto;
  text-align: center;
}

.info a {
  text-decoration: none;
  color: #016993;
}

.info a:hover {
  color: #ad8c02;
}


/* Вкладки (табы)
-----------------------------------------------------*/


/* бфзовый контейнер вкладок(табов) */

.tabs-box {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}


/* панель вкладок */

ul.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 42px;
  border-bottom: solid 1px #b5b5b5;
  width: 100%;
}

ul.tabs li {
  float: left;
  margin: 0;
  cursor: pointer;
  padding: 0 21px;
  height: 42px;
  line-height: 42px;

  color: #ddd;
  overflow: hidden;
  position: relative;
  font-size: 16px
}

/* стили вкладок при наведении */

ul.tabs li:hover {
  background-color: #26A69A;
  color: #fefefe;
}


/* стили активных вкладок */

ul.tabs li.active {
  background-color: #fff;
  color: #333;
  display: block;
  border-bottom: solid 3px #00978a;
}


/* контейнер вкладок первого уровня 
* включающий в себя панели заголовков аккордеона
*/

.tab_container {
  width: 100%;
  background: #fff;
  background: transparent;
}


/* блоки с содержанием по-умолчанию скрыты 
* указать раскрытым при загрузке нужный блок
* с помощью style="display: block;" в html
*/

.tab_content {

  display: none;
}


/* параграф внутри блоков с содержанием */

.tab_content p {
  margin-bottom: 10px
}


/**
* Изображения внутри вкладок
* ...сделаем их отзывчивыми
*/

.tab_content img {
  width: 100%;
  height: auto;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* полноразмерная картинка */

.tab_content img .large-img {
  width: 100%;
  margin-bottom: 10px;
}


/* миниатюра слева */

.tab_content img.img-left {
  width: 25%;
  float: left;
  margin: 5px 15px 15px 0;
}


/* миниатюра справа */

.tab_content img.img-right {
  width: 25%;
  float: right;
  margin: 5px 0 15px 15px;
}

/* аккордеон скрыт в режиме вкладок */

.tab_accordion {
  display: none;
}


/* Переход вкладок в режим аккордеона 
* при достижении размера окна просмотра 480px 
*/

@media screen and (max-width: 480px) {

  /* скрываем вкладки */
  ul.tabs {
    display: none;
  }

  /* показываем элементы аккордеона */
  .tab_accordion {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0 20px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    background-color: #fff9;
  }

  .tab_accordion-title {
    margin: 0 20px 0 0;
    font-size: 19px;
    font-weight: normal;
  }
  .tab_accordion-img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 20px;
  }
  .tab_container-info {
    padding: 20px;
  }
  /* переключатель вкладок, положение вниз */
  .tab_accordion:before {
    content: '';
    height: 8px;
    width: 8px;
    display: block;
    border: 2px solid #000000;
    border-right-width: 0;
    border-top-width: 0;
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
  }


  /* активный переключатель, положение вверх */
  .d_active.tab_accordion:before {
    border: 2px solid #000000;
    border-left-width: 0;
    border-bottom-width: 0;
  }

  .container-background {
    background-image: none;
  }

  .container-sub {
    display: none;
  }

  .title {
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    margin: 44px 20px 24px;
  }
  .container {
    background-image: url('../images/main__pic.png');
    background-position: top;
    background-size: cover;
  }
  .list-item {
    display: flex;
  }
  .list-text {
    margin: 0;
    margin-bottom: 10px;
  }
}